@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@100;400&family=Bellefair&display=swap');
html{
    background: url("../images/home/background-home-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    
}
body{
    margin: 0 auto;
    padding: 0 auto;
    color: #ffffff;
}
a:active{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-top: 30px;
}
nav img{
    width: 40px;
    margin-top: 10px;
}
nav ul{
    position: absolute;
    right: 0%;
    list-style: none;
    display: flex;
    padding-right: 100px;
    padding-left: 90px;
    /*backdrop-filter: blur(5px);*/
    background: rgba(21, 30, 41, 0.7);
}
nav ul li{
    margin-right: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 30px 0px;
    
}
nav .navlinks{
    color: #ffffff;
    text-decoration: none;
    padding: 30px 0px;
    
}
nav .selectedlink{
    border-bottom: 2px solid #ffffff;
}
nav .navlinks:hover{
    color: #d0d6f9;
    border-bottom: 2px solid #d0d6f9;
}
nav hr{
    position: relative;
    right: 17%;
    width: 500px;
    height: 2px;
    background-color: #232531;
    border: none;
}
#sidebarbtn{
    width: 25px;
    display: none;
}
.container{
    margin-top: 70px;
    padding: 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.intro{
    font-size: 24px;
    margin: 0px;
    margin-bottom: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
}
.destination{
    font-size: 130px;
    margin: 0px;
    font-family: 'Bellefair', serif;
    letter-spacing: 5px;
}
.information{
    line-height: 25px;
    margin: 0px;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
}
.destinationlink{
    text-decoration: none;
    padding: 0px;
}
.secondpart{
    height: 100%;
    width: 230px;
    box-sizing: border-box;
}
.explorebtn{
    color: #141416;
    margin-top: 110px;
    cursor: pointer;
}
.explore{
    font-size: 32px;
    /*line-height: 233px;*/
    border-radius: 50%;
    background-color: #ffffff;
    padding: 90px 0px;
    font-family: 'Bellefair', serif;
    text-decoration: none;
    text-align: center;
    
}
.explore:hover{
    outline: 50px solid #23262f;
}
.explore:active{
    outline: 50px solid #23262f;
}
.sidebar{
    display: none;
}

@media screen and (max-width:991px){
    html{
        background: url("../images/home/background-home-tablet.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100%;
    }
    nav{
        padding-top: 0px;
        padding-left: 50px;
    }
    nav img{
        margin: 10px 0px 0px;
        width: 50px;
    }
    nav hr{
        display: none;
    }
    nav ul{
        position: relative;
        margin: 0px;
        padding: 0px 20px 0px 60px;
    }
    nav li strong{
        display: none;
    }
    nav .navlinks{
        font-size: 16px;
    }
    .container{
        display: block;
        text-align: center;
        padding: 0px 25px;
    }
    .intro{
        font-size: 16px;
    }
    .destination{
        font-size: 120px;
    }
    .information{
        font-size: 18px;
    }
    .secondpart{
        width: inherit;
        text-align: center;
    }
    .destinationlink{
        text-align: center;

    }
    .explorebtn{
        margin-top: 120px;
        border-radius: 50%;
    }
    .explore{
        margin: 0 auto;
        width: 230px;
    }
    .explore:active{
        outline: 50px solid #23262f;
    }
}
@media screen and (max-width:767px){
    nav{
        padding-left: 20px;
    }
    nav ul{
        padding: 0px 0px 0px 40px;
    }
}
@media screen and (max-width:555px){
    html{
        background: url("../images/home/background-home-mobile.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100%;
    }
    nav ul{
        display: none;
    }
    nav{
        margin-top: 10px;
        padding: 0px 30px;
    }
    nav img{
        width: 40px;
    }
    #sidebarbtn{
        display: block;
    }
    .sidebar{
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 0%;
        width: 70%;
        background: rgba(21, 30, 41, 1);
    }
    .sidebar img{
        width: 25px;
        margin: 29px 30px 25px 0px;
        float: right;
    }
    .sidebar ul{
        clear: both;
        font-family: 'Barlow Condensed', sans-serif;
        padding-top: 0px;
    }
    .sidebar ul li{
        list-style: none;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 3px;
        font-size: 18px;
        font-weight: 100;
        text-transform: uppercase;
        padding: 30px 50px 10px 5px;
        
    }
    .sidebar .navlinks{
        color: #ffffff;
        text-decoration: none;
        padding: 30px 0px;
        
    }
    .sidebar .navlinks:active{
        color: #d0d6f9;
    }
    .container{
        margin-top: 40px;
        padding: 0px 5px;
    }
    .intro{
        font-size: 18px;
        letter-spacing: 2px;
    }
    .destination{
        font-size: 80px;
        letter-spacing: 2px;
    }
    .information{
        font-size: 12px;
        font-size: 400;
        margin-top: 0px;
    }
    .explore{
        width: 200px;
        padding: 75px 0px;
    }
    .explorebtn{
        margin-top: 90px;
    }
    .secondpart{
        height: 100%;
        margin-bottom: 20px;
    }
}