@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@100;400&family=Bellefair&display=swap');
html{
    background: url("../images/technology/background-technology-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    
}
body{
    margin: 0 auto;
    padding: 0 auto;
    color: #ffffff;
}
a:active{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 30px;
}
nav img{
    width: 40px;
    margin-top: 10px;
}
nav ul{
    position: absolute;
    right: 0%;
    list-style: none;
    display: flex;
    padding-right: 150px;
    padding-left: 90px;
    background: rgba(21, 30, 41, 0.7);
}
nav ul li{
    margin-right: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 25px 0px;
    
}
nav .navlinks{
    color: #ffffff;
    text-decoration: none;
    padding: 25px 0px;
    
}
nav .selectedlink{
    border-bottom: 2px solid #ffffff;
}
nav .navlinks:hover{
    color: #d0d6f9;
    border-bottom: 2px solid #d0d6f9;
}
nav hr{
    position: relative;
    right: 20%;
    width: 500px;
    height: 1px;
    background-color: #383B4B;
    border: none;
}
#sidebarbtn{
    width: 25px;
    display: none;
}
.container{
    margin-top: 30px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.sidebar{
    display: none;
}
.firstpart{
    margin: 0px 30px 0px 5px;
    display: block;
}
.instruction{
    font-size: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.instruction strong{
    color: #545662;
}
.dotContainer{
    display: block;
    float: left;
    margin-top: 40px;
}
.dot{
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: border-color 0.6s ease;
    cursor: pointer;
    border: 1px solid #484854;
}
.dot p{
    font-family: 'Bellefair', serif;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    vertical-align: middle;
}
.dot:hover{
    border-color: #ffffff;
    background-color: transparent;
    color: #d0d6f9;
}
.active{
    color: #0b0d17;
    background-color: #ffffff;
}
.infoContainer{
    margin-left: 120px;
    width: 470px;
    margin-top: 60px;
}
#techImage{
    height: 375px;
    width: 350px;
    position: absolute;
    right: 0px;
}
.terminology{
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #d0d6f9;
    letter-spacing: 3px;
    margin-top: 0px;
}
#topic{
    text-transform: uppercase;
    font-size: 56px;
    font-family: 'Bellefair', serif;
    margin: 0px;
}
#description{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #d0d6f9;
    line-height: 32px;
    width: 444px;
    height: 192px;
}
@media screen and (max-width:991px){
    html{
        background: url("../images/technology/background-technology-tablet.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100%;
    }
    nav{
        padding-top: 0px;
        padding-left: 45px;
    }
    nav img{
        margin: 10px 0px 0px;
        width: 48px;
    }
    nav hr{
        display: none;
    }
    nav ul{
        position: relative;
        margin: 0px;
        padding: 0px 10px 0px 35px;
    }
    nav li strong{
        display: none;
    }
    nav .navlinks{
        font-size: 14px;
    }
    .container{
        display: block;
        text-align: center;
        padding: 0px;
        width: 100%;
    }
    .firstpart{
        margin: 0px;
        width: 100%;
    }
    .instruction{
        text-align: left;
        font-size: 20px;
        margin-left: 50px;
    }
    #techImage{
        position: relative;
        height: 310px;
        width: 100%;
        margin: 35px auto;
        right: 0px;
    }
    .ghost{
        display: none;
    }
    .dotContainer{
        clear: both;
        float: none;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 15px;
    }
    .dot{
        margin-right: 20px;
        width: 60px;
        height: 60px;
    }
    .dot p{
        font-size: 24px;
    }
    .infoContainer{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .terminology{
        margin-bottom: 10px;
    }
    #topic{
        font-size: 40px;
        margin-bottom: 15px;
    }
    #description{
        font-size: 16px;
        width: 440px;
        height: 140px;
        line-height: 28px;
        margin: 0 auto;
    }
    .active{
        color: #0b0d17 !important;
        background-color: #ffffff !important;
    }
}
/*@media screen and (max-width:767px){
    nav{
        padding-left: 20px;
    }
    nav ul{
        padding: 0px 0px 0px 35px;
    }
}*/
@media screen and (max-width:555px){
    html{
        background: url("../images/technology/background-technology-mobile.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100%;
    }
    nav ul{
        display: none;
    }
    nav{
        margin-top: 10px;
        padding: 0px 30px;
    }
    nav img{
        width: 40px;
    }
    #sidebarbtn{
        display: block;
    }
    .sidebar{
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 0%;
        width: 70%;
        background: rgba(21, 30, 41, 1);
    }
    .sidebar img{
        width: 25px;
        margin: 29px 30px 25px 0px;
        float: right;
    }
    .sidebar ul{
        clear: both;
        font-family: 'Barlow Condensed', sans-serif;
        padding-top: 0px;
    }
    .sidebar ul li{
        list-style: none;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 3px;
        font-size: 16px;
        font-weight: 100;
        text-transform: uppercase;
        padding: 30px 50px 10px 5px;
    }
    .sidebar .navlinks{
        color: #ffffff;
        text-decoration: none;
        padding: 30px 0px;
    }
    .sidebar .navlinks:active{
        color: #d0d6f9;
    }
    .container{
        margin-top: 40px;
        padding: 0px 5px;
    }
    #techImage{
        margin: 20px auto;
    }
    .dotContainer{
        margin-top: 10px;
    }
    .dot{
        height: 40px;
        width: 40px;
    }
    .dot p{
        font-size: 16px;
    }
    .terminology{
        font-size: 14px;
    }
    #topic{
        font-size: 24px;
    }
    #description{
        font-size: 15px;
        line-height: 25px;
        width: 327px;
        height: 175px;
    }
    .active{
        color: #0b0d17 !important;
        background-color: #ffffff !important;
    }
}
@media screen and (max-width:340px){
    .sidebar ul li{
        font-size: 14px;
    }
}